@model IEnumerable<TestUbica.Models.Third>

@{
    ViewBag.Title = "Index";
}

<div ng-app="storeApp">    
    <div ng-controller="companiesController">
        <h1 ng-show="companies.length>0">Compañias</h1>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="search" placeholder="&#xf002    Buscar Compañia" style="font-family:FontAwesome" ng-show="products.length>0"/>
        </div>
        <table class="table table-hover">
            <thead>
                <tr ng-show="companies.length>0">
                    <th>
                    Nombre
                        <i class="fa fa-arrow-down" style="cursor:pointer" ng-click="orderBy('Name')"></i>
                        <i class="fa fa-arrow-up" style="cursor:pointer" ng-click="orderBy('-Name')"></i>
                    </th>
                    <th>
                    Cupo
                        <i class="fa fa-arrow-down" style="cursor:pointer" ng-click="orderBy('quota')"></i>
                        <i class="fa fa-arrow-up" style="cursor:pointer" ng-click="orderBy('-quota')"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in companies | orderBy:orderSelected | filter:search">
                    <td class="text-capitalize">{{company.Name}}</td>
                    <td>{{company.quota|currency}}</td>     
                    <td><i class="glyphicon-trash glyphicon" style="cursor:pointer" ng-click="deteleCompany($index)"></i></td>         
                </tr>
                <tr ng-show="states.formActive">
                    <td>
                        <input type="text" ng-model="newCompany.Name" class="form-control" placeholder="Nombre"/>
                    </td>
                    <td>
                        <input type="number" ng-model="newCompany.quota" class="form-control" placeholder="&#xf155 Valor" style="font-family:FontAwesome"/>
                    </td>
                    <td>
                        <input type="button" value="Agregar" class="btn btn-primary" ng-click="addCompany()" ng-disabled="!newCompany.Name||!newCompany.quota"/>
                        <input type="button" value="Cancelar" class="btn btn-default" ng-click="form(false)"/>
                    </td>
                </tr>                
            </tbody>
        </table>
        <input type="button" value="Agregar" class="btn btn-primary" ng-click="form(true)"/>
        <h2 ng-hide="companies.length>0" class="no-info">No hay compañias registradas</h2>
    </div>
</div>

@Scripts.Render("~/bundles/angular");
<script type="text/javascript">

    urlGet = '@Url.Action("GetCompanies","Thirds")';
    urlAdd = '@Url.Action("Create","Thirds")';
    urlDelete='@Url.Action("Delete","Thirds")'
</script>

<script src="~/Scripts/app/app.js"></script>
<script src="~/Scripts/app/Controllers/controllercompanies.js"></script>