<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div ng-app="storeApp">
        <div ng-controller="productController">
            <div>
                <h2 ng-show="products.length>0">Productos</h2>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="search" placeholder="&#xf002    Buscar Producto" style="font-family:FontAwesome" ng-show="products.length>0" />
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr ng-show="products.length>0">
                            <th>
                                Nombre
                                <i class="fa fa-arrow-down" ng-click="orderBy('Description')" style="cursor:pointer"></i>
                                <i class="fa fa-arrow-up" ng-click="orderBy('-Description')" style="cursor:pointer" ng-show="products.length>0"></i>
                            </th>
                            <th>
                                Valor
                                <i class="fa fa-arrow-down" ng-click="orderBy('value')" style="cursor:pointer"></i>
                                <i class="fa fa-arrow-up" ng-click="orderBy('-value')" style="cursor:pointer"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products | orderBy:orderSelect | filter:search">
                            <td class="text-capitalize">{{product.Description}}</td>
                            <td>{{product.value | currency}}</td>
                            <td><i class="glyphicon-trash glyphicon" ng-click="deleteProduct($index)"></i> </td>
                        </tr>
                        <tr ng-show="states.formActive">
                            <td>
                                <input ng-model="newProduct.Description" class="form-control" placeholder="Name" />
                            </td>
                            <td>
                                <input ng-model="newProduct.value" class="form-control" placeholder="&#xf155 Valor" style="font-family:FontAwesome" ng-keypress="filterValue($event)" />
                            </td>
                            <td>
                                <input type="button" ng-click="addProduct()" class="btn btn-primary" value="Agregar" ng-disabled="!newProduct.Description||!newProduct.value" />
                                <input type="button" ng-click="cancel()" class="btn btn-default" value="Cancelar" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="button" ng-click="onForm()" value="Agregar" class="btn btn-primary" ng-show="states.addActive" />
            </div>
            <h2 ng-hide="products.length>0" class="no-info">No hay productos registrados</h2>
        </div>
    </div>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script type="text/javascript">
    var urlGet = "/Products/GetProducts";
    var urlAdd = "/Products/Create";
    var urlDelete = "Products/Delete";
    </script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/Controllers/controllerproduct.js"></script>
    <script src="~/Scripts/app/services/serviceproduct.js"></script>
</body>
</html>
