@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TestUbica</h1>
    <p class="lead">Administrador de productos</p>
</div>

<style>
    body{
        padding:0px;
        background-image:url("image/box.jpg");
    }
</style>
