@model IEnumerable<TestUbica.Models.Mvto>

@{
    ViewBag.Title = "Index";
}

<div ng-app="storeApp" class="main-div">
    <div ng-controller="mvtosController">        
        <h2 class="title">Movimientos</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                    Compañia
                        <i class="glyphicon glyphicon-arrow-down" ng-click="orderBy('Third.Name')" style="cursor:pointer"></i>
                        <i class="glyphicon glyphicon-arrow-up" ng-click="orderBy('-Third.Name')" style="cursor:pointer"></i>
                    </th>
                    <th>
                    Fecha
                        <i class="glyphicon glyphicon-arrow-down" ng-click="orderBy('Date')" style="cursor:pointer"></i>
                        <i class="glyphicon glyphicon-arrow-up" ng-click="orderBy('-Date')" style="cursor:pointer"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mvto in mvtos | orderBy:orderSelect">
                    <td>{{mvto.Third.Name}}</td>
                    <td>{{mvto.Date | date:'yyyy-MM-dd'}}</td>
                    <td><i class="glyphicon glyphicon-trash" ng-click="delete($index)"></i></td>
                </tr>
                <tr ng-show="states.formActive">
                    <td>                       
                        <select class="form-control" ng-model="newMvto.ThirdId">
                            <option ng-repeat="item in third| orderBy:Name " value="{{item}}">{{item.Name}}</option>
                        </select>  
                    </td>
                    <td>                
                        <input type="date" class="form-control" ng-model="newMvto.Date" /></td>
                    <td>
                        <input type="button" value="Agregar" class="btn btn-primary" ng-click="addMvto()"/>
                        <input type="button" value="Cancelar" class="btn btn-default" ng-click="form(false)"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="Agregar" class="btn btn-primary add" ng-click="form(true)" ng-hide="states.formActive"/>
    </div>
</div>

@Scripts.Render("~/bundles/angular");
<script type="text/javascript">

    var urlGetMvtoes="/Mvtoes/GetMvtoes"
    var urlCreate = "/Mvtoes/Create";
    var urlDelete = "/Mvtoes/Delete";
    var urlGetThirds = "/Mvtoes/GetThirds";
</script>

<script src="~/Scripts/app/app.js"></script>
<script src="~/Scripts/app/Controllers/controllermvtos.js"></script>